.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

.transparent-left-btn {
    position: fixed;
    top: 18px;
    z-index: 99;
}

.transparent-right-btn {
    position: fixed;
    top: 18px;
    z-index: 99;
    right: 40px;
}

.transparent-btn{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30%;
}